[all:vars]
image_name="maodouzi/ecust-courseinfo"
image_version="v1.0"                    # default: latest
db_localpath="/Users/wuwenxiang/local/github-mine/Project-ECUST-CourseInfo/courseinfo/db.sqlite3"
db_hostpath="/root/db-ecust-courseinfo.sqlite3"
db_containerpath="/home/www/ecustCourseInfo/src/courseinfo/db.sqlite3"
# container_port="80"                   # default: 80
# host_port="80"                        # default: 80

[webserver]
course
