{% extends "base.html" %}
{% block body %}
{% load i18n %}
<div class="container theme-showcase" role="main">
    <br><br><br><br>   
    <div class="col-md-1 column"></div>
    <div class="col-md-10 column">
        <div class="jumbotron"> 
            <div class="text-center" ><h3>{% trans 'Course Search' %}<h3></div>
            <a href='/classroominfo/classroom/campus' class="btn btn-lg btn-danger btn-block">{% trans 'Search by Classroom' %}</a><br><br>
            <a href='/classroominfo/coursename' class="btn btn-lg btn-danger btn-block">{% trans 'Search by Course' %}</a><br><br>
            <a href='/classroominfo/teachername' class="btn btn-lg btn-danger btn-block">{% trans 'Search by Teacher' %}</a><br><br>
        </div>        
    </div>
</div>
{% endblock %}